:root {
    --color-a: #404040;
    --color-b: #AEAEAE;
    --color-c: #696969;

    --sidebar-toggled-color: #197BBD;
    --sidebar-toggled-background:#F0F7FF;
    --sidebar-untoggled-color: #C7C7C7;
}
