.svg {
    width: 35px;
    height: 35px;
    background-color: #FFC145;
    border-radius: 50%;
}

.account {
    display: flex;
    align-items: center;
    gap: 5px;
    
    .data {
        display: flex;
        flex-direction: column;
    
        .name {
            font-family: 'Suprema';
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 17px;
            color: var(--color-a);
        }

        .admin {
            color: var(--color-b);
            font-family: 'Suprema';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
    }
}
