html, body { height: 100%; }
body {
    // background-color: black; 
    margin: 0;
    // color: gray !important;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
